body{
        background-color: #222;
        color: #fff;
}


.contenair{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 150px 150px;
        gap: 7px;
        border: 2px solid;
        margin-top: 50px;
}

.contenair div{
        text-align: center;
        padding: 30px 20px 50px 20px;
        border: 2px solid;
        align-items: center;
}
p{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: underline;
        margin-top: 20px;
}
.btn {
        padding: 30px 30px;
        border-radius: 60px;
        font-size: 25px;
}